<div class="container">
  <nav {{bind-attr class="navIsVisible:visible"}}>
    <ul>
      <li><a>Me</a></li>
      <li><a>Work</a></li>
      <li><a>Pulse</a></li>
      <li><a>Contact</a></li>
    </ul>
  </nav>

  <main>
    <header>
      <h1>Andrew Branch</h1>
      <img src="/assets/images/building@2x.png">
      <h2>Building Things</h2>
    </header>
  </main>
</div>
