<div class="container">
  <nav {{bind-attr class="navIsVisible:visible"}}>
    <ul>
      <li><a>Me</a></li>
      <li><a>Work</a></li>
      <li><a>Pulse</a></li>
      <li><a>Contact</a></li>
    </ul>
  </nav>

  <main>
    <header>
      <h1>Andrew Branch</h1>
      <img src="/assets/images/building@2x.png">
      <h2>
        Building {{adjective-rotator adjectives=adjectives class="rotator"}} Things
      </h2>
    </header>

    <section id="me">
      <img id="face" src="http://www.gravatar.com/avatar/3ea047d4d5b7cea5ea0832c4e6842ee8?s=256.png">
      <p>Hello! I&rsquo;m Andrew, a full-stack web developer with a passion for UI. I love building things. Whenever possible, I love building them with the most exciting new web technologies.</p>
      <p>I graduated from Auburn University in 2014, then spent five months hiking from Georgia to Maine on the Appalachian Trail.</p>
      <p>Now, I spend my time freelancing, cycling, homebrewing, and seeking full-time employment. You can view my <a href="http://registry.jsonresume.org/andrewbranch">online résumé</a> or <a href="/assets/documents/resume.pdf">a boring PDF version</a>.</p>
    </section>
  </main>
</div>
