<div class="container">
  <nav {{bind-attr class="navIsVisible:visible"}}>
    <ul>
      <li><a>Me</a></li>
      <li><a>Work</a></li>
      <li><a>Pulse</a></li>
      <li><a>Contact</a></li>
    </ul>
  </nav>

  <main>
    <header>
      <h1>Building Things</h1>
    </header>
  </main>
</div>
